* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  }
  body {
    background-image: url(../images/52de36fb1dce3362937f51186687869e.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    /* background-attachment: fixed; */
  }
  h1 {
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    font-size: 70px;
    color: rgb(88, 165, 151);
  }
  .ingridients header {
    font-weight: 300;
    font-size: 30px;
    color: aquamarine;
    line-height: 100px;

  }
  .ingridients label {
    font-weight: 300;
    font-size: 25px;
    /* text-align: center; */
    align-content: space-around;
    line-height: 70px;
    color: antiquewhite;
  }
  .option-delivery .total-amout {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .total-amout .text {
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(172, 223, 146);
    margin-top: 1.5rem;
    /* border-radius: 20px; */
    /* background-color: #dac2c2; */
    margin-right: 20px;
  }
  .total-amout .amount {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* border-radius: 15px; */
    color: rgb(172, 223, 146);
  }
  .submit_orders {
    outline: none;
    margin: 10px;
    border-radius: 15px;
    margin-top: 1.5rem;
    background-color: #dac2c2;
    display: flex;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.7px;
    padding: 15px 30px;
    cursor: pointer;
  }
